/** LIBRARIES **/
@import compass/reset
@import compass/css3
@import compass/typography/lists/inline-block-list
@import bourbon
@import utilities

/** SETTINGS **/
$path:	"../../../assets"
$path_absolute: "http://her.dev/assets/stylesheets/css"
$minW: 1000px
$red: #de0029



//+font-face('LatoBold',"#{$path}/fonts/latobol")

/** GLOBAL STYLES **/
@mixin h_slider($w)
	.expandable
		position: relative
		width: 0px
		overflow: hidden
		padding: 0px
		margin-right: 0px !important
			
		&.open
			width: $w

		.slider
			position: relative
			top: 0px
			left: 0px
			width: $w
			overflow: hidden
		    
			> li
				display: inline-block
				float: none
				height: 20px
				overflow: hidden
				max-width: 80px


/** STYLE **/
html, body
	font-family: Helvetica, Arial, sans-serif
	width: 100%
	height: 100%
	min-width: $minW


body
	overflow: scroll
	overflow-x: auto
	//-webkit-font-smoothing: antialiased


.pre_loader_wrapper
	overflow: hidden
	position: fixed
	top: 0px
	left: 0px
	width: 100%
	height: 100%
	z-index: 999999

	&.closed
		height: 0px
		display: none

	.pre_loader
		position: fixed
		top: 0px
		left: 0px
		width: 100%
		height: 100%
		overflow: hidden
		background-color: white
		
		.container
			position: relative
			top: 45%
			width: 288px
			margin: auto

			.tt
				width: 70px
				height: 37px
				//background-image: url(#{$path}/images/loader_tt.png)
				background-image: url(http://static.tumblr.com/kn2uvjq/l7qmtn3jq/loader_tt.png)
				background-repeat: no-repeat
				margin: 0px auto 10px

			.bar-container
				position: relative
				width: 288px
				height: 6px
				background-color: #cccccc

				.bar
					position: absolute
					left: 0px
					width: 0px
					height: 100%
					//background-image: url(#{$path}/images/loader_on.png)
					background-image: url(http://static.tumblr.com/kn2uvjq/YNymtn3ko/loader_on.png)
					background-repeat: no-repeat

		.orientation_message
			font-size: 9px
			color: $red
			display: block
			text-align: center
			padding: 5px 0px


.orientation_wrapper
	overflow: hidden
	position: fixed
	top: 0px
	left: 0px
	width: 100%
	height: 100%
	z-index: 999999

	&.closed
		height: 0px
		display: none

	.orientation
		position: fixed
		top: 0px
		left: 0px
		width: 100%
		height: 100%
		overflow: hidden
		background-color: white
		
		.container
			position: relative
			top: 45%
			width: 288px
			margin: auto

			.tt
				width: 70px
				height: 37px
				//background-image: url(#{$path}/images/loader_tt.png)
				background-image: url(http://static.tumblr.com/kn2uvjq/l7qmtn3jq/loader_tt.png)
				background-repeat: no-repeat
				margin: 0px auto 10px

		.orientation_message
			font-size: 9px
			color: $red
			display: block
			text-align: center
			padding: 5px 0px


header
	position: fixed
	width: 100%
	min-width: $minW
	top: 0px
	left: 0px
	background-color: $red
	z-index: 100

	&.off
		top: -80px
	
	
	h1
		width: 123px
		height: 55px
		//background-image: url(#{$path}/images/tt_small.png)
		//background-image: url(http://static.tumblr.com/kn2uvjq/7jkmtn3la/tt_small.png)
		background-image: url(http://static.tumblr.com/kn2uvjq/ufCmu3puk/tt_small_wht.png)
		display: inline-block
		margin: 10px 20px 10px -150px
		text-indent: -9999px
		
		&.on
			margin-left: 15px 
	
	.navigation
		//float: left
		display: inline-block
		vertical-align: top
		width: 60%
		margin: 5px 10px

		> li
			cursor: pointer
			font-size: 14px
			color: #bcbbbb
			display: inline-block
			margin: 10px 10px

			&.on
				color: #fff
			
			&:last-child
				margin-right: 0px

	.follow_container
		float: right
		//display: inline-block
		display: block
		margin: 10px
		position: absolute
		top: 33px
		right: 0px
		background: $red
		padding-left: 25px

		> li
			cursor: pointer
			color: #ffffff
			font-size: 11px
			display: inline-block
			vertical-align: middle
			margin-right: 7px
			float: right
			line-height: 24px

			li:nth-of-type(1)
				cursor: arrow

			&.sound-btn
				//background-image: url(#{$path}/images/sprite-ui.png)
				background-image: url(http://static.tumblr.com/kn2uvjq/W4Gmtn3m4/sprite-ui.png)
				background-repeat: no-repeat
				width: 24px
				height: 24px

				&.on
					background-position: -98px 0px
				&.off
					background-position: -126px 0px

			a
				display: inline-block
				
				&.icon
					//background-image: url(#{$path}/images/sprite-ui.png)
					background-image: url(http://static.tumblr.com/kn2uvjq/W4Gmtn3m4/sprite-ui.png)
					background-repeat: no-repeat
					width: 22px
					height: 22px
				&.icon-fb
					background-position: 0px 0px
				&.icon-tw
					background-position: -23px 0px
				&.icon-tum
					background-position: -46px 0px
				&.icon-goo
					background-position: -69px 0px
				


	+h_slider(180px)
		

.media_filter
	display: inline-block
	width: 100%
	height: 31px
	min-width: $minW
	position: fixed
	top: -50px
	left: 0px
	vertical-align: top
	//background-image: url(#{$path}/images/mediafilter_bg.png)
	background-image: url(http://static.tumblr.com/kn2uvjq/m8Tmtn3n5/mediafilter_bg.png)
	background-size: cover
	//-ms-behavior: url(#{$path_absolute}/backgroundsize.min.htc)
	z-index: 99

	&.on
		top: 75px

	li, p
		font-size: 11px
		color: $red
		display: inline-block
		margin: 10px 10px 10px 15px
		cursor: pointer

		&.on
			font-weight: bold

		&:last-child
			margin-right: 0px

	p
		font-weight: bold
		cursor: default

	.release_date
		color: $red
		letter-spacing: 1px
		display: inline-block
		position: absolute
		right: 10px
		margin: 8px 5px
		font-size: 16px
		cursor: default

		b
			font-weight: bold


.masthead
	position: relative
	top: 0px
	width: 100%
	height: 100%
	background-color: $red
	color: #ffffff
	overflow: hidden
	z-index: 0

	&.closed
		height: 0px

	video
		position: absolute
		width: 100%
		height: 100%

	.tt_lockup
		position: absolute
		right: 40px
		bottom: 40px
		float: left

		&.off
			bottom: -200px

		h1
			width: 274px
			height: 142px
			//background-image: url(#{$path}/images/tt_large.png)
			background-image: url(http://static.tumblr.com/kn2uvjq/CNvmu3uuf/tt_large.png)
			display: block
			margin: 0px auto 20px
			text-indent: -9999px
		
		span
			font-size: 16px
			letter-spacing: 1px
			display: block
			text-align: center

			b
				font-weight: bold

	section
		position: absolute
		left: 5%
		opacity: 0
		visibility: hidden
		z-index: -1

		&.on
			visibility: visible
			opacity: 1
			z-index: 1

		.container

			h1
				font-size: 43px
				font-weight: bold
				letter-spacing: 2px
				margin-bottom: 25px
				overflow: hidden
				position: absolute
				clip: rect(0px, 450px, 50px, 0px)

				&.closed_right
					clip: rect(0px, 450px, 50px, 450px)

				&.closed_left
					clip: rect(0px, 0px, 50px, 0px)

				span
					display: block
					min-width: 450px

			.content
				position: absolute
				top: 60px
				width: 350px
				height: 190px
				clip: rect(0px, 450px, 250px, 0px)
				//background-image: url(#{$path}/images/page_thumb_footer.png)
				background-image: url(http://static.tumblr.com/kn2uvjq/w8Smtn3ob/page_thumb_footer.png)
				background-repeat: no-repeat
				background-position: 0 bottom
				padding-bottom: 6px
				margin-bottom: 31px
				overflow: hidden
				-webkit-transform: translate3d(0,0,0)

				iframe
					-webkit-transform: translate3d(0,0,0)
					//transform: translate3d(0,0,0)

				&.closed_right
					clip: rect(0px, 450px, 250px, 450px)

				&.closed_left
					clip: rect(0px, 0px, 250px, 0px)

				p
					text-shadow: 1px 1px 1px #787878 !important

			.click
				overflow: hidden
				position: absolute
				top: 285px
				clip: rect(0px, 450px, 50px, 0px)

				&.top
					z-index: 1
						
				&.closed_right
					clip: rect(0px, 450px, 50px, 450px)

				&.closed_left
					clip: rect(0px, 0px, 50px, 0px)

				span
					cursor: pointer
					display: inline-block
					font-size: 16px
					background-repeat: no-repeat
					background-position: 90% center
					padding: 10px 40px 10px 20px
					min-width: 150px

					&.red
						color: white
						background-color: $red
						background-image: url(http://static.tumblr.com/kn2uvjq/MsPmtn3os/plus.png)
					
					&.white
						color: $red
						background-color: white
						background-image: url(http://static.tumblr.com/kn2uvjq/MHemtpho7/plus_r.png)

	section.home
		top: 15%
		
		.container

			h1
				//font-size: 20px
				//font-weight: normal
				//margin-bottom: 10px

				span
				//	min-width: 282px

			.content
				top: 40px
				
				&.vid

				&.thumb
					top: 100px

				&.laurels
					//top: 460px
					//background-image: none

			.content.modal_features
				width: 355px
				height: 165px
				clip: rect(0px, 355px, 165px, 0px)
				position: absolute
				top: 320px
				z-index: 2
				overflow: hidden
				//background-color: $red
				background-image: none
				padding-bottom: 0px
				margin-bottom: 0px

				&.closed_right
					clip: rect(0px, 355px, 165px, 355px)

				&.closed_left
					clip: rect(0px, 0px, 165px, 0px)

				.mask
					display: block
					height: 165px
					overflow: hidden
					position: relative

					ul.slider
						height: 100%
						width: 355px
						position: relative
						left: 0px
						top: 0px
						//background-color: #000000

						> li
							display: none
							width: 100%
							height: 100%
							padding: 0px
							background:
								repeat: no-repeat
								size: cover
								position: center center
							
							a
								display: block
								width: 100%
								height: 100%
								
									//-ms-behavior: url(#{$path_absolute}/backgroundsize.min.htc)

						> li.on
							display: block

				> nav
					text-align: left
					position: absolute
					bottom: 0px
					width: 282px
					margin: 5px 0px 0px
					
					a
						display: block
						width: 13px
						height: 12px
						background:
							//image: url( #{$path}/images/sprite-ui.png)
							image: url(http://static.tumblr.com/kn2uvjq/W4Gmtn3m4/sprite-ui.png)
							repeat: no-repeat
							color: transparent
						text-indent: -9999px
						position: relative
						float: right
						z-index: 1
						margin-right: 5px

					a.left
						background-position: -154px 0px
					
					a.right
						background-position: -172px 0px
						
					strong
						font:
							//family: "GothamBold",$font-family
							size: 12px
						
						position: relative
						margin-left: 5px
						vertical-align: top
						z-index: 1

		.click
			top: 475px

	section.home,
	section.about
				
		.container

			.content.synopsis
				
				p
					font-size: 14px
					font-weight: lighter
					letter-spacing: 1px
					line-height: 20px


	//section.home,
	section.about,
	section.video,
	section.gallery,
	section.downloads,
	section.soundtrack
		top: 30%

	section.everything-about-everything
		top: 20%

		.content
			top: 0px

		.content.spike-info
			top: 210px
			letter-spacing: 1px
			font-size: 14px
			line-height: 19px
			font-weight: lighter
			text-shadow: 1px 1px 1px #787878 !important
			background-image: none

		

		.click
			top: 425px


	/// big video 

	.vjs-loading-spinner
		display: none !important

	.vjs-control-bar
		display: none !important

	.big-video-wrap
		overflow: hidden
		position: fixed
		z-index: 0
		height: 100%
		width: 100%
		top: 0
		left: 0

		&.inactive
			z-index: -1

		&.transitioning
			width: 0px
		
		&.ios	
			position: absolute !important

	#big-video-vid_1, #big-video-vid_2, .big-video-vid, .big-video-image
		position: absolute

	.big-video-control-container
		display:  none !important
		position:  fixed
		bottom:  20px
		padding:  0 20px
		width:  100%
		-webkit-transition-duration:  0.6s
		-moz-transition-duration:  0.6s
		-ms-transition-duration:  0.6s
		-o-transition-duration:  0.6s
		transition-duration:  0.6s

	.big-video-control
		width: 100%
		height: 16px
		position: relative

	.big-video-control-middle
		margin:  0 56px 0 24px

	.big-video-control-bar
		width: 100%
		height: 16px
		position: relative
		cursor: pointer

	.big-video-control-progress
		position: absolute
		top: 7px
		height: 3px
		width: 0%
		background: #fff

	.big-video-control-track
		position: absolute
		top: 8px
		height: 1px
		width: 100%
		background: #fff

	.big-video-control-bound-left
		left: 0

	.big-video-control-bound-right
		right: -1px
	.big-video-control-track .ui-slider-handle 
		opacity: 0

	.big-video-control-playhead
		left: 30%

	.big-video-control-play
		position: absolute
		top: 0
		left: 0
		height: 16px
		width: 16px
		background-image: url('bigvideo.png')

	.big-video-control-timer
		position: absolute
		top: 1px
		right: 0
		color: #fff
		font-size: 11px

	.big-video-control-playhead,.big-video-control-bound-left,.big-video-control-bound-right
		position: absolute
		top: 0
		height: 16px
		width: 1px
		background: #fff

	.big-video-control .ui-slider-handle
		border-left: solid 1px #fff
		width: 16px
		height: 16px
		position: absolute
		top: -8px

	.transparent
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"
		filter: alpha(opacity=0)
		-moz-opacity: 0
		-khtml-opacity: 0
		opacity: 0

	.vjs-big-play-button
		display: none !important


footer
	.loader
		position: fixed
		left: 50%
		bottom: 10px
		width: auto
		text-align: center
		cursor: pointer
		z-index: 0

		&.off
			bottom: -50px

		&.mh
			display: none
			color: white
			z-index: 0
			

			.text
				//background-image: url(#{$path}/images/down-arrow.png)
				background-image: url(http://static.tumblr.com/kn2uvjq/v6wmtn3q8/down-arrow.png)
				background-repeat: no-repeat
				background-position: center bottom
				

		
		&.content
			color: red
			z-index: 0
			//z-index: 2

		.text
			position: relative
			left: -50%
			font-size: 20px
			padding-bottom: 25px

			&.arrow

.fb-comments
	display: block !important
	background: white
	padding: 30px
	width: 740px
	margin: 30px auto 0px
	border-bottom: 3px solid #bdc3c7
	visibility: hidden

	&.on
		visibility: visible


#disqus_thread
	//display: none
	background: white
	padding: 30px
	width: 740px
	height: 0px
	visibility: hidden
	//min-height: 350px
	margin: 30px auto 0px
	border-bottom: 3px solid #bdc3c7

	&.on
		height: auto
		min-height: 350px
		visibility: visible

.off_screen
	position: absolute !important
	top: -9999px !important
	left: -9999px !important


.container_loading
	position: absolute
	top: -9999px
	left: -9999px


.container_wrapper
	position: relative
	background-image: url(http://static.tumblr.com/kn2uvjq/Htvmtp3pq/blog_bg.png)
	background-size: cover
	overflow: hidden
	padding: 30px
	z-index: 2
	-webkit-transform: translate3d(0,0,0)
	
	&.closed
		padding: 0px
		height: 0px

	.moreposts
		overflow: hidden
		position: relative
		text-align: center
		font-family: LatoRegular
		letter-spacing: 2px
		margin-top: 15px

		span
			cursor: pointer
			display: inline-block
			font-size: 16px
			color: $red
			background-color: #fff
			padding: 20px 50px
			min-width: 150px

			&:hover
				color: #fff
				background-color: $red
	
	.legals
		position: relative
		width: 100%
		font-size: 14px
		text-align: center
		margin: 30px 0px
		letter-spacing: 2px

		span
			color: white

			a
				color: white
				padding-left: 50px

				&:hover
					color: #cccccc

	.container
		position: relative
		top: 0px
		height: auto
		margin: 0px auto
		// single column // width: 100%
		// single column // display: inline-block

		&.closed
			overflow: hidden
			padding: 0px
			height: 0px
			margin: 0px

		.post
			float: left
			// single column // width: 800px
			width: 380px
			margin-right: 20px
			margin-bottom: 20px
			// single column // margin: 10px auto
			background: rgba(255, 255, 255, 1)
			border-bottom: 3px solid #bdc3c7
			padding: 30px 30px 15px 30px
			box-sizing: border-box
			-moz-box-sizing: border-box
			
			&.featured
				width: 780px

			.caption
				font-family: LatoRegular
				font-size: 16px
				line-height: 24px
				letter-spacing: 1px
				padding: 0px 30px 5px 0px !important
				margin-top: 10px
				color: #737373 !important

				a
					color: #de0029 !important
				em
					font-style: italic !important

			.post_content
				display: inline-block
				margin-bottom: 10px
				width: 100%
				font-family: LatoRegular
				font-size: 16px
				line-height: 24px
				letter-spacing: 1px

				.moreLink

					a
						color: $red
				
				iframe
					width: 100%
				
				p, p a, blockquote
					font-family: LatoRegular
					font-size: 16px
					line-height: 24px
					letter-spacing: 1px
					color: #7a7a7a
					width: 100%
					margin-top: 10px

				h1
					font-size: 25px
					letter-spacing: 2px
					color: $red
					width: 100%
				h1 a
					font-size: 25px
					letter-spacing: 2px
					color: $red
					width: 100%

				img
					width: 100%

				a
					width: 100%
					word-wrap: break-word !important

					img
						width: 100%

				em
					font-style: italic !important

				.quote-quote
					font-size: 22px
					color: $red
					text-transform: uppercase
					font-style: italic
			
			a.source_link
				display: block
				font-family: LatoRegular
				font-size: 16px
				line-height: 24px
				margin: 0px 0px 10px 0px
				letter-spacing: 1px
				color: $red

			.postAuthor
				display: none

				&.on
					font-family: LatoRegular
					display: inline-block !important
					color: #A8A8A8 !important
					font-size: 12px
					margin: 10px 0px

			.share_container
				display: inline-block
				width: 100%
				+opacity(0.5)

				> li
					width: 16px
					height: 16px
					float: left
					margin-right: 10px
					display: inline-block
					
					&.slider-btn
						cursor: pointer
						//background-image: url(#{$path}/images/sharer.png)
						background-image: url(http://static.tumblr.com/kn2uvjq/hTkmtp3n6/sharer.png)
						background-repeat: no-repeat
						background-position: 0px 0px

					
					a
						&.permalink-btn
							cursor: pointer
							//background-image: url(#{$path}/images/sharer.png)
							background-image: url(http://static.tumblr.com/kn2uvjq/Mrrmu3w95/plus_b.png)
							background-repeat: no-repeat
							background-position: 1px 1px
							display: inline-block
							width: 16px
							height: 16px
				
				+h_slider(150px)

				.expandable	
					
					.slider
								    
						> li

							div
								display: inline-block

							a
								display: inline-block
								//background-image: url(#{$path}/images/sprite-ui.png)
								background-image: url(http://static.tumblr.com/kn2uvjq/EAAmtpbqy/sprite-ui.png)
								background-repeat: no-repeat
								width: 16px
								height: 16px
								margin-right: 10px

								&.icon-fb
									background-position: 0px -26px
								&.icon-tw
									background-position: -17px -26px
								&.icon-pin
									background-position: -33px -26px
								&.icon-goo
									background-position: -50px -26px


html.touch
	body
		-webkit-overflow-scrolling: none

	.masthead
		height: 0px !important

	.container_wrapper
		padding-top: 171px
		
		section
			top: 5%
			left: 15px

		.loader
		.text
			font-size: 10px

html.special

	.container_wrapper
		padding-top: 171px

html.detail

	.container_wrapper
		padding-top: 171px
	
		.container
			//text-align: center
	
			.post
				text-align: left
				float: none
				width: 800px
				margin: auto
				font-family: LatoBold

				.caption
					letter-spacing: 1px
					font-size: 16px
					color: $red
					//display: inline-block
					padding: 15px 30px 5px

				.tags
					padding: 15px 0px
					font-size: 11px
					font-weight: 400
					color: #818181
					line-height: 140% !important
					margin-bottom: 15px

					a
						font-size: 10px
						color: #939393
						display: inline-block
						padding: 5px 2px
					
					a:hover
						color: #939393 !important
			
					a:before
						content: "" !important
				
					a:first-child:before
						content: "" !important

					.label
						float: left
						margin-right: 10px

					.tag-container
						float: left
						width: 90%

						a
							color: #de0029 !important
							font-size: 11px !important




							text-decoration: none
							padding: 0px !important
							-webkit-transition: all 0.14s ease-in-out
							-moz-transition: all 0.14s ease-in-out
							-o-transition: all 0.14s ease-in-out
							transition: all 0.14s ease-in-out


				.commentBox
					display: inline-block
					width: 100%
					background: rgba(255, 255, 255, 1)
					//border-bottom: 3px solid #bdc3c7
					//padding: 30px 30px 15px 30px
					box-sizing: border-box
					
					.notes

						.note
							margin-bottom: 10px

							.action
								position: relative
								top: -27px
								left: 10px
								color: #939393
								font-size: 12px
								letter-spacing: 1px

								a
									color: $red

							blockquote
								position: relative
								//top: -27px
								left: 75px
								color: #939393
								font-size: 12px
								letter-spacing: 1px

								a
									color: $red
									display: block
									width: 600px

							.more_notes_link, .notes_loading
								color: $red

		.moreposts
			display: none
		


iframe#tumblr_controls
	position: fixed !important
	//top: 73px !important
	opacity: 0

	&.on
		opacity: 1
	&.tumblr_sticky_iframe
		top: 73px !important


