
button
	background-color: transparent
	padding: 0px
	border: 0px
	padding: 0px
	margin: 0px
	outline: 0
	cursor: pointer !important

a
	border: 0px
	outline: 0
	text-decoration: none

.hidden
	display: none
	visibility: hidden
	+opacity(0)

.visible
	display: block
	visibility: visible
	+opacity(1)

.noscrollbars
	overflow: hidden !important

@mixin debugger($propery,$value)
	$property: $value !important

@mixin breakpoint($w,$h)
	@if $w > 0 and $h > 0 
		@media screen and (max-width: #{$w}px) and (max-height: #{$h}px)
			@content
	@else if $w > 0
		@media screen and (max-width: #{$w}px)
			@content
	@else if $h > 0 
		@media screen and (max-height: #{$h}px)
			@content

@mixin background-size( $img , $type: cover)
	@if $type == contain
		$ms_type: crop
	@else
		$ms_type: scale
	
	background-image: url(#{$img})
	@include background-size( #{$type} )
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{$img}', sizingMethod='#{$ms_type}')"
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="#{$img}", sizingMethod="#{$ms_type}")


@mixin box-sizing( $value: border-box )
	-webkit-box-sizing: $value
	-moz-box-sizing: $value
	box-sizing: $value

@mixin border-radius ( $value: 3px )
	-webkit-border-radius: $value
	-moz-border-radius: $value
	border-radius: $value
	-webkit-background-clip: padding-box
	-moz-background-clip: padding
	background-clip: padding-box

@mixin opacity ( $value: 0.5 )
	opacity: $value
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" $value * 100 ")"
	filter: alpha(opacity= $value * 100 ) !important
	zoom: 1

@mixin box-shadow( $horiz : .5em , $vert : .5em , $blur : 0px , $spread : 0px , $color : #000000 )
	-webkit-box-shadow: $horiz $vert $blur $spread $color
	-moz-box-shadow: $horiz $vert $blur $spread $color
	box-shadow: $horiz $vert $blur $spread $color

@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4))
	text-shadow: $x $y $blur $color

@mixin letterpress($opacity: 0.4 )
	text-shadow: white($opacity) 0 1px 0 !important


@mixin css-transition( $property : all, $speed : 0.3, $easing : linear )
	transition-timing-function: $easing

	-webkit-transform: translate3d(0, 0, 0)
	-webkit-backface-visibility: hidden
	-webkit-perspective: 1000

	transition: $property #{$speed}s $easing
	-o-transition: $property #{$speed}s $easing
	-moz-transition: $property #{$speed}s $easing
	-webkit-transition: $property #{$speed}s $easing
	


@mixin clear()
	&:before, &:after
		content: "\0020"
		display: block
		height: 0
		overflow: hidden
	&:after
		clear: both





html.lt-ie9
	
	.hidden
		filter: auto !important
		opacity: auto !important

	.visible
		filter: auto !important
		opacity: auto !important
