/*LIBRARIES */
/* line 17, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 2, ../sass/utilities.sass */
button {
  background-color: transparent;
  padding: 0px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  outline: 0;
  cursor: pointer !important; }

/* line 11, ../sass/utilities.sass */
a {
  border: 0px;
  outline: 0;
  text-decoration: none; }

/* line 16, ../sass/utilities.sass */
.hidden {
  display: none;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }

/* line 21, ../sass/utilities.sass */
.visible {
  display: block;
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

/* line 26, ../sass/utilities.sass */
.noscrollbars {
  overflow: hidden !important; }

/* line 115, ../sass/utilities.sass */
html.lt-ie9 .hidden {
  filter: auto !important;
  opacity: auto !important; }
/* line 119, ../sass/utilities.sass */
html.lt-ie9 .visible {
  filter: auto !important;
  opacity: auto !important; }

/*SETTINGS */
/*GLOBAL STYLES */
/*STYLE */
/* line 46, ../sass/her.sass */
html, body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  min-width: 1000px; }

/* line 53, ../sass/her.sass */
body {
  overflow: scroll;
  overflow-x: auto; }

/* line 59, ../sass/her.sass */
.pre_loader_wrapper {
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999; }
  /* line 68, ../sass/her.sass */
  .pre_loader_wrapper.closed {
    height: 0px;
    display: none; }
  /* line 72, ../sass/her.sass */
  .pre_loader_wrapper .pre_loader {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white; }
    /* line 81, ../sass/her.sass */
    .pre_loader_wrapper .pre_loader .container {
      position: relative;
      top: 45%;
      width: 288px;
      margin: auto; }
      /* line 87, ../sass/her.sass */
      .pre_loader_wrapper .pre_loader .container .tt {
        width: 70px;
        height: 37px;
        background-image: url(http://static.tumblr.com/kn2uvjq/l7qmtn3jq/loader_tt.png);
        background-repeat: no-repeat;
        margin: 0px auto 10px; }
      /* line 95, ../sass/her.sass */
      .pre_loader_wrapper .pre_loader .container .bar-container {
        position: relative;
        width: 288px;
        height: 6px;
        background-color: #cccccc; }
        /* line 101, ../sass/her.sass */
        .pre_loader_wrapper .pre_loader .container .bar-container .bar {
          position: absolute;
          left: 0px;
          width: 0px;
          height: 100%;
          background-image: url(http://static.tumblr.com/kn2uvjq/YNymtn3ko/loader_on.png);
          background-repeat: no-repeat; }
    /* line 110, ../sass/her.sass */
    .pre_loader_wrapper .pre_loader .orientation_message {
      font-size: 9px;
      color: #de0029;
      display: block;
      text-align: center;
      padding: 5px 0px; }

/* line 118, ../sass/her.sass */
.orientation_wrapper {
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999; }
  /* line 127, ../sass/her.sass */
  .orientation_wrapper.closed {
    height: 0px;
    display: none; }
  /* line 131, ../sass/her.sass */
  .orientation_wrapper .orientation {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white; }
    /* line 140, ../sass/her.sass */
    .orientation_wrapper .orientation .container {
      position: relative;
      top: 45%;
      width: 288px;
      margin: auto; }
      /* line 146, ../sass/her.sass */
      .orientation_wrapper .orientation .container .tt {
        width: 70px;
        height: 37px;
        background-image: url(http://static.tumblr.com/kn2uvjq/l7qmtn3jq/loader_tt.png);
        background-repeat: no-repeat;
        margin: 0px auto 10px; }
    /* line 154, ../sass/her.sass */
    .orientation_wrapper .orientation .orientation_message {
      font-size: 9px;
      color: #de0029;
      display: block;
      text-align: center;
      padding: 5px 0px; }

/* line 162, ../sass/her.sass */
header {
  position: fixed;
  width: 100%;
  min-width: 1000px;
  top: 0px;
  left: 0px;
  background-color: #de0029;
  z-index: 100; }
  /* line 171, ../sass/her.sass */
  header.off {
    top: -80px; }
  /* line 175, ../sass/her.sass */
  header h1 {
    width: 123px;
    height: 55px;
    background-image: url(http://static.tumblr.com/kn2uvjq/ufCmu3puk/tt_small_wht.png);
    display: inline-block;
    margin: 10px 20px 10px -150px;
    text-indent: -9999px; }
    /* line 185, ../sass/her.sass */
    header h1.on {
      margin-left: 15px; }
  /* line 188, ../sass/her.sass */
  header .navigation {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin: 5px 10px; }
    /* line 195, ../sass/her.sass */
    header .navigation > li {
      cursor: pointer;
      font-size: 14px;
      color: #bcbbbb;
      display: inline-block;
      margin: 10px 10px; }
      /* line 202, ../sass/her.sass */
      header .navigation > li.on {
        color: white; }
      /* line 205, ../sass/her.sass */
      header .navigation > li:last-child {
        margin-right: 0px; }
  /* line 208, ../sass/her.sass */
  header .follow_container {
    float: right;
    display: block;
    margin: 10px;
    position: absolute;
    top: 33px;
    right: 0px;
    background: #de0029;
    padding-left: 25px; }
    /* line 219, ../sass/her.sass */
    header .follow_container > li {
      cursor: pointer;
      color: white;
      font-size: 11px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;
      float: right;
      line-height: 24px; }
      /* line 229, ../sass/her.sass */
      header .follow_container > li li:nth-of-type(1) {
        cursor: arrow; }
      /* line 232, ../sass/her.sass */
      header .follow_container > li.sound-btn {
        background-image: url(http://static.tumblr.com/kn2uvjq/W4Gmtn3m4/sprite-ui.png);
        background-repeat: no-repeat;
        width: 24px;
        height: 24px; }
        /* line 239, ../sass/her.sass */
        header .follow_container > li.sound-btn.on {
          background-position: -98px 0px; }
        /* line 241, ../sass/her.sass */
        header .follow_container > li.sound-btn.off {
          background-position: -126px 0px; }
      /* line 244, ../sass/her.sass */
      header .follow_container > li a {
        display: inline-block; }
        /* line 247, ../sass/her.sass */
        header .follow_container > li a.icon {
          background-image: url(http://static.tumblr.com/kn2uvjq/W4Gmtn3m4/sprite-ui.png);
          background-repeat: no-repeat;
          width: 22px;
          height: 22px; }
        /* line 253, ../sass/her.sass */
        header .follow_container > li a.icon-fb {
          background-position: 0px 0px; }
        /* line 255, ../sass/her.sass */
        header .follow_container > li a.icon-tw {
          background-position: -23px 0px; }
        /* line 257, ../sass/her.sass */
        header .follow_container > li a.icon-tum {
          background-position: -46px 0px; }
        /* line 259, ../sass/her.sass */
        header .follow_container > li a.icon-goo {
          background-position: -69px 0px; }
  /* line 20, ../sass/her.sass */
  header .expandable {
    position: relative;
    width: 0px;
    overflow: hidden;
    padding: 0px;
    margin-right: 0px !important; }
    /* line 27, ../sass/her.sass */
    header .expandable.open {
      width: 180px; }
    /* line 30, ../sass/her.sass */
    header .expandable .slider {
      position: relative;
      top: 0px;
      left: 0px;
      width: 180px;
      overflow: hidden; }
      /* line 37, ../sass/her.sass */
      header .expandable .slider > li {
        display: inline-block;
        float: none;
        height: 20px;
        overflow: hidden;
        max-width: 80px; }

/* line 267, ../sass/her.sass */
.media_filter {
  display: inline-block;
  width: 100%;
  height: 31px;
  min-width: 1000px;
  position: fixed;
  top: -50px;
  left: 0px;
  vertical-align: top;
  background-image: url(http://static.tumblr.com/kn2uvjq/m8Tmtn3n5/mediafilter_bg.png);
  background-size: cover;
  z-index: 99; }
  /* line 282, ../sass/her.sass */
  .media_filter.on {
    top: 75px; }
  /* line 285, ../sass/her.sass */
  .media_filter li, .media_filter p {
    font-size: 11px;
    color: #de0029;
    display: inline-block;
    margin: 10px 10px 10px 15px;
    cursor: pointer; }
    /* line 292, ../sass/her.sass */
    .media_filter li.on, .media_filter p.on {
      font-weight: bold; }
    /* line 295, ../sass/her.sass */
    .media_filter li:last-child, .media_filter p:last-child {
      margin-right: 0px; }
  /* line 298, ../sass/her.sass */
  .media_filter p {
    font-weight: bold;
    cursor: default; }
  /* line 302, ../sass/her.sass */
  .media_filter .release_date {
    color: #de0029;
    letter-spacing: 1px;
    display: inline-block;
    position: absolute;
    right: 10px;
    margin: 8px 5px;
    font-size: 16px;
    cursor: default; }
    /* line 312, ../sass/her.sass */
    .media_filter .release_date b {
      font-weight: bold; }

/* line 316, ../sass/her.sass */
.masthead {
  position: relative;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #de0029;
  color: white;
  overflow: hidden;
  z-index: 0; }
  /* line 326, ../sass/her.sass */
  .masthead.closed {
    height: 0px; }
  /* line 329, ../sass/her.sass */
  .masthead video {
    position: absolute;
    width: 100%;
    height: 100%; }
  /* line 334, ../sass/her.sass */
  .masthead .tt_lockup {
    position: absolute;
    right: 40px;
    bottom: 40px;
    float: left; }
    /* line 340, ../sass/her.sass */
    .masthead .tt_lockup.off {
      bottom: -200px; }
    /* line 343, ../sass/her.sass */
    .masthead .tt_lockup h1 {
      width: 274px;
      height: 142px;
      background-image: url(http://static.tumblr.com/kn2uvjq/CNvmu3uuf/tt_large.png);
      display: block;
      margin: 0px auto 20px;
      text-indent: -9999px; }
    /* line 352, ../sass/her.sass */
    .masthead .tt_lockup span {
      font-size: 16px;
      letter-spacing: 1px;
      display: block;
      text-align: center; }
      /* line 358, ../sass/her.sass */
      .masthead .tt_lockup span b {
        font-weight: bold; }
  /* line 361, ../sass/her.sass */
  .masthead section {
    position: absolute;
    left: 5%;
    opacity: 0;
    visibility: hidden;
    z-index: -1; }
    /* line 368, ../sass/her.sass */
    .masthead section.on {
      visibility: visible;
      opacity: 1;
      z-index: 1; }
    /* line 375, ../sass/her.sass */
    .masthead section .container h1 {
      font-size: 43px;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 25px;
      overflow: hidden;
      position: absolute;
      clip: rect(0px, 450px, 50px, 0px); }
      /* line 384, ../sass/her.sass */
      .masthead section .container h1.closed_right {
        clip: rect(0px, 450px, 50px, 450px); }
      /* line 387, ../sass/her.sass */
      .masthead section .container h1.closed_left {
        clip: rect(0px, 0px, 50px, 0px); }
      /* line 390, ../sass/her.sass */
      .masthead section .container h1 span {
        display: block;
        min-width: 450px; }
    /* line 394, ../sass/her.sass */
    .masthead section .container .content {
      position: absolute;
      top: 60px;
      width: 350px;
      height: 190px;
      clip: rect(0px, 450px, 250px, 0px);
      background-image: url(http://static.tumblr.com/kn2uvjq/w8Smtn3ob/page_thumb_footer.png);
      background-repeat: no-repeat;
      background-position: 0 bottom;
      padding-bottom: 6px;
      margin-bottom: 31px;
      overflow: hidden;
      -webkit-transform: translate3d(0, 0, 0); }
      /* line 409, ../sass/her.sass */
      .masthead section .container .content iframe {
        -webkit-transform: translate3d(0, 0, 0); }
      /* line 413, ../sass/her.sass */
      .masthead section .container .content.closed_right {
        clip: rect(0px, 450px, 250px, 450px); }
      /* line 416, ../sass/her.sass */
      .masthead section .container .content.closed_left {
        clip: rect(0px, 0px, 250px, 0px); }
      /* line 419, ../sass/her.sass */
      .masthead section .container .content p {
        text-shadow: 1px 1px 1px #787878 !important; }
    /* line 422, ../sass/her.sass */
    .masthead section .container .click {
      overflow: hidden;
      position: absolute;
      top: 285px;
      clip: rect(0px, 450px, 50px, 0px); }
      /* line 428, ../sass/her.sass */
      .masthead section .container .click.top {
        z-index: 1; }
      /* line 431, ../sass/her.sass */
      .masthead section .container .click.closed_right {
        clip: rect(0px, 450px, 50px, 450px); }
      /* line 434, ../sass/her.sass */
      .masthead section .container .click.closed_left {
        clip: rect(0px, 0px, 50px, 0px); }
      /* line 437, ../sass/her.sass */
      .masthead section .container .click span {
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        background-repeat: no-repeat;
        background-position: 90% center;
        padding: 10px 40px 10px 20px;
        min-width: 150px; }
        /* line 446, ../sass/her.sass */
        .masthead section .container .click span.red {
          color: white;
          background-color: #de0029;
          background-image: url(http://static.tumblr.com/kn2uvjq/MsPmtn3os/plus.png); }
        /* line 451, ../sass/her.sass */
        .masthead section .container .click span.white {
          color: #de0029;
          background-color: white;
          background-image: url(http://static.tumblr.com/kn2uvjq/MHemtpho7/plus_r.png); }
  /* line 456, ../sass/her.sass */
  .masthead section.home {
    top: 15%; }
    /* line 469, ../sass/her.sass */
    .masthead section.home .container .content {
      top: 40px; }
      /* line 474, ../sass/her.sass */
      .masthead section.home .container .content.thumb {
        top: 100px; }
    /* line 481, ../sass/her.sass */
    .masthead section.home .container .content.modal_features {
      width: 355px;
      height: 165px;
      clip: rect(0px, 355px, 165px, 0px);
      position: absolute;
      top: 320px;
      z-index: 2;
      overflow: hidden;
      background-image: none;
      padding-bottom: 0px;
      margin-bottom: 0px; }
      /* line 494, ../sass/her.sass */
      .masthead section.home .container .content.modal_features.closed_right {
        clip: rect(0px, 355px, 165px, 355px); }
      /* line 497, ../sass/her.sass */
      .masthead section.home .container .content.modal_features.closed_left {
        clip: rect(0px, 0px, 165px, 0px); }
      /* line 500, ../sass/her.sass */
      .masthead section.home .container .content.modal_features .mask {
        display: block;
        height: 165px;
        overflow: hidden;
        position: relative; }
        /* line 506, ../sass/her.sass */
        .masthead section.home .container .content.modal_features .mask ul.slider {
          height: 100%;
          width: 355px;
          position: relative;
          left: 0px;
          top: 0px; }
          /* line 514, ../sass/her.sass */
          .masthead section.home .container .content.modal_features .mask ul.slider > li {
            display: none;
            width: 100%;
            height: 100%;
            padding: 0px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center; }
            /* line 524, ../sass/her.sass */
            .masthead section.home .container .content.modal_features .mask ul.slider > li a {
              display: block;
              width: 100%;
              height: 100%; }
          /* line 531, ../sass/her.sass */
          .masthead section.home .container .content.modal_features .mask ul.slider > li.on {
            display: block; }
      /* line 534, ../sass/her.sass */
      .masthead section.home .container .content.modal_features > nav {
        text-align: left;
        position: absolute;
        bottom: 0px;
        width: 282px;
        margin: 5px 0px 0px; }
        /* line 541, ../sass/her.sass */
        .masthead section.home .container .content.modal_features > nav a {
          display: block;
          width: 13px;
          height: 12px;
          background-image: url(http://static.tumblr.com/kn2uvjq/W4Gmtn3m4/sprite-ui.png);
          background-repeat: no-repeat;
          background-color: transparent;
          text-indent: -9999px;
          position: relative;
          float: right;
          z-index: 1;
          margin-right: 5px; }
        /* line 556, ../sass/her.sass */
        .masthead section.home .container .content.modal_features > nav a.left {
          background-position: -154px 0px; }
        /* line 559, ../sass/her.sass */
        .masthead section.home .container .content.modal_features > nav a.right {
          background-position: -172px 0px; }
        /* line 562, ../sass/her.sass */
        .masthead section.home .container .content.modal_features > nav strong {
          font-size: 12px;
          position: relative;
          margin-left: 5px;
          vertical-align: top;
          z-index: 1; }
    /* line 572, ../sass/her.sass */
    .masthead section.home .click {
      top: 475px; }
  /* line 582, ../sass/her.sass */
  .masthead section.home .container .content.synopsis p,
  .masthead section.about .container .content.synopsis p {
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 20px; }
  /* line 590, ../sass/her.sass */
  .masthead section.about,
  .masthead section.video,
  .masthead section.gallery,
  .masthead section.downloads,
  .masthead section.soundtrack {
    top: 30%; }
  /* line 597, ../sass/her.sass */
  .masthead section.everything-about-everything {
    top: 20%; }
    /* line 600, ../sass/her.sass */
    .masthead section.everything-about-everything .content {
      top: 0px; }
    /* line 603, ../sass/her.sass */
    .masthead section.everything-about-everything .content.spike-info {
      top: 210px;
      letter-spacing: 1px;
      font-size: 14px;
      line-height: 19px;
      font-weight: lighter;
      text-shadow: 1px 1px 1px #787878 !important;
      background-image: none; }
    /* line 614, ../sass/her.sass */
    .masthead section.everything-about-everything .click {
      top: 425px; }
  /* line 620, ../sass/her.sass */
  .masthead .vjs-loading-spinner {
    display: none !important; }
  /* line 623, ../sass/her.sass */
  .masthead .vjs-control-bar {
    display: none !important; }
  /* line 626, ../sass/her.sass */
  .masthead .big-video-wrap {
    overflow: hidden;
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }
    /* line 635, ../sass/her.sass */
    .masthead .big-video-wrap.inactive {
      z-index: -1; }
    /* line 638, ../sass/her.sass */
    .masthead .big-video-wrap.transitioning {
      width: 0px; }
    /* line 641, ../sass/her.sass */
    .masthead .big-video-wrap.ios {
      position: absolute !important; }
  /* line 644, ../sass/her.sass */
  .masthead #big-video-vid_1, .masthead #big-video-vid_2, .masthead .big-video-vid, .masthead .big-video-image {
    position: absolute; }
  /* line 647, ../sass/her.sass */
  .masthead .big-video-control-container {
    display: none !important;
    position: fixed;
    bottom: 20px;
    padding: 0 20px;
    width: 100%;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s; }
  /* line 659, ../sass/her.sass */
  .masthead .big-video-control {
    width: 100%;
    height: 16px;
    position: relative; }
  /* line 664, ../sass/her.sass */
  .masthead .big-video-control-middle {
    margin: 0 56px 0 24px; }
  /* line 667, ../sass/her.sass */
  .masthead .big-video-control-bar {
    width: 100%;
    height: 16px;
    position: relative;
    cursor: pointer; }
  /* line 673, ../sass/her.sass */
  .masthead .big-video-control-progress {
    position: absolute;
    top: 7px;
    height: 3px;
    width: 0%;
    background: white; }
  /* line 680, ../sass/her.sass */
  .masthead .big-video-control-track {
    position: absolute;
    top: 8px;
    height: 1px;
    width: 100%;
    background: white; }
  /* line 687, ../sass/her.sass */
  .masthead .big-video-control-bound-left {
    left: 0; }
  /* line 690, ../sass/her.sass */
  .masthead .big-video-control-bound-right {
    right: -1px; }
  /* line 692, ../sass/her.sass */
  .masthead .big-video-control-track .ui-slider-handle {
    opacity: 0; }
  /* line 695, ../sass/her.sass */
  .masthead .big-video-control-playhead {
    left: 30%; }
  /* line 698, ../sass/her.sass */
  .masthead .big-video-control-play {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-image: url("bigvideo.png"); }
  /* line 706, ../sass/her.sass */
  .masthead .big-video-control-timer {
    position: absolute;
    top: 1px;
    right: 0;
    color: white;
    font-size: 11px; }
  /* line 713, ../sass/her.sass */
  .masthead .big-video-control-playhead, .masthead .big-video-control-bound-left, .masthead .big-video-control-bound-right {
    position: absolute;
    top: 0;
    height: 16px;
    width: 1px;
    background: white; }
  /* line 720, ../sass/her.sass */
  .masthead .big-video-control .ui-slider-handle {
    border-left: solid 1px white;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -8px; }
  /* line 727, ../sass/her.sass */
  .masthead .transparent {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  /* line 734, ../sass/her.sass */
  .masthead .vjs-big-play-button {
    display: none !important; }

/* line 739, ../sass/her.sass */
footer .loader {
  position: fixed;
  left: 50%;
  bottom: 10px;
  width: auto;
  text-align: center;
  cursor: pointer;
  z-index: 0; }
  /* line 748, ../sass/her.sass */
  footer .loader.off {
    bottom: -50px; }
  /* line 751, ../sass/her.sass */
  footer .loader.mh {
    display: none;
    color: white;
    z-index: 0; }
    /* line 757, ../sass/her.sass */
    footer .loader.mh .text {
      background-image: url(http://static.tumblr.com/kn2uvjq/v6wmtn3q8/down-arrow.png);
      background-repeat: no-repeat;
      background-position: center bottom; }
  /* line 765, ../sass/her.sass */
  footer .loader.content {
    color: red;
    z-index: 0; }
  /* line 770, ../sass/her.sass */
  footer .loader .text {
    position: relative;
    left: -50%;
    font-size: 20px;
    padding-bottom: 25px; }

/* line 778, ../sass/her.sass */
.fb-comments {
  display: block !important;
  background: white;
  padding: 30px;
  width: 740px;
  margin: 30px auto 0px;
  border-bottom: 3px solid #bdc3c7;
  visibility: hidden; }
  /* line 787, ../sass/her.sass */
  .fb-comments.on {
    visibility: visible; }

/* line 791, ../sass/her.sass */
#disqus_thread {
  background: white;
  padding: 30px;
  width: 740px;
  height: 0px;
  visibility: hidden;
  margin: 30px auto 0px;
  border-bottom: 3px solid #bdc3c7; }
  /* line 802, ../sass/her.sass */
  #disqus_thread.on {
    height: auto;
    min-height: 350px;
    visibility: visible; }

/* line 807, ../sass/her.sass */
.off_screen {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }

/* line 813, ../sass/her.sass */
.container_loading {
  position: absolute;
  top: -9999px;
  left: -9999px; }

/* line 819, ../sass/her.sass */
.container_wrapper {
  position: relative;
  background-image: url(http://static.tumblr.com/kn2uvjq/Htvmtp3pq/blog_bg.png);
  background-size: cover;
  overflow: hidden;
  padding: 30px;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0); }
  /* line 828, ../sass/her.sass */
  .container_wrapper.closed {
    padding: 0px;
    height: 0px; }
  /* line 832, ../sass/her.sass */
  .container_wrapper .moreposts {
    overflow: hidden;
    position: relative;
    text-align: center;
    font-family: LatoRegular;
    letter-spacing: 2px;
    margin-top: 15px; }
    /* line 840, ../sass/her.sass */
    .container_wrapper .moreposts span {
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      color: #de0029;
      background-color: white;
      padding: 20px 50px;
      min-width: 150px; }
      /* line 849, ../sass/her.sass */
      .container_wrapper .moreposts span:hover {
        color: white;
        background-color: #de0029; }
  /* line 853, ../sass/her.sass */
  .container_wrapper .legals {
    position: relative;
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 30px 0px;
    letter-spacing: 2px; }
    /* line 861, ../sass/her.sass */
    .container_wrapper .legals span {
      color: white; }
      /* line 864, ../sass/her.sass */
      .container_wrapper .legals span a {
        color: white;
        padding-left: 50px; }
        /* line 868, ../sass/her.sass */
        .container_wrapper .legals span a:hover {
          color: #cccccc; }
  /* line 871, ../sass/her.sass */
  .container_wrapper .container {
    position: relative;
    top: 0px;
    height: auto;
    margin: 0px auto; }
    /* line 879, ../sass/her.sass */
    .container_wrapper .container.closed {
      overflow: hidden;
      padding: 0px;
      height: 0px;
      margin: 0px; }
    /* line 885, ../sass/her.sass */
    .container_wrapper .container .post {
      float: left;
      width: 380px;
      margin-right: 20px;
      margin-bottom: 20px;
      background: white;
      border-bottom: 3px solid #bdc3c7;
      padding: 30px 30px 15px 30px;
      box-sizing: border-box;
      -moz-box-sizing: border-box; }
      /* line 898, ../sass/her.sass */
      .container_wrapper .container .post.featured {
        width: 780px; }
      /* line 901, ../sass/her.sass */
      .container_wrapper .container .post .caption {
        font-family: LatoRegular;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
        padding: 0px 30px 5px 0px !important;
        margin-top: 10px;
        color: #737373 !important; }
        /* line 910, ../sass/her.sass */
        .container_wrapper .container .post .caption a {
          color: #de0029 !important; }
        /* line 912, ../sass/her.sass */
        .container_wrapper .container .post .caption em {
          font-style: italic !important; }
      /* line 915, ../sass/her.sass */
      .container_wrapper .container .post .post_content {
        display: inline-block;
        margin-bottom: 10px;
        width: 100%;
        font-family: LatoRegular;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px; }
        /* line 926, ../sass/her.sass */
        .container_wrapper .container .post .post_content .moreLink a {
          color: #de0029; }
        /* line 929, ../sass/her.sass */
        .container_wrapper .container .post .post_content iframe {
          width: 100%; }
        /* line 932, ../sass/her.sass */
        .container_wrapper .container .post .post_content p, .container_wrapper .container .post .post_content p a, .container_wrapper .container .post .post_content blockquote {
          font-family: LatoRegular;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 1px;
          color: #7a7a7a;
          width: 100%;
          margin-top: 10px; }
        /* line 941, ../sass/her.sass */
        .container_wrapper .container .post .post_content h1 {
          font-size: 25px;
          letter-spacing: 2px;
          color: #de0029;
          width: 100%; }
        /* line 946, ../sass/her.sass */
        .container_wrapper .container .post .post_content h1 a {
          font-size: 25px;
          letter-spacing: 2px;
          color: #de0029;
          width: 100%; }
        /* line 952, ../sass/her.sass */
        .container_wrapper .container .post .post_content img {
          width: 100%; }
        /* line 955, ../sass/her.sass */
        .container_wrapper .container .post .post_content a {
          width: 100%;
          word-wrap: break-word !important; }
          /* line 959, ../sass/her.sass */
          .container_wrapper .container .post .post_content a img {
            width: 100%; }
        /* line 962, ../sass/her.sass */
        .container_wrapper .container .post .post_content em {
          font-style: italic !important; }
        /* line 965, ../sass/her.sass */
        .container_wrapper .container .post .post_content .quote-quote {
          font-size: 22px;
          color: #de0029;
          text-transform: uppercase;
          font-style: italic; }
      /* line 971, ../sass/her.sass */
      .container_wrapper .container .post a.source_link {
        display: block;
        font-family: LatoRegular;
        font-size: 16px;
        line-height: 24px;
        margin: 0px 0px 10px 0px;
        letter-spacing: 1px;
        color: #de0029; }
      /* line 980, ../sass/her.sass */
      .container_wrapper .container .post .postAuthor {
        display: none; }
        /* line 983, ../sass/her.sass */
        .container_wrapper .container .post .postAuthor.on {
          font-family: LatoRegular;
          display: inline-block !important;
          color: #a8a8a8 !important;
          font-size: 12px;
          margin: 10px 0px; }
      /* line 990, ../sass/her.sass */
      .container_wrapper .container .post .share_container {
        display: inline-block;
        width: 100%;
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 50 ")";
        filter: alpha(opacity=50) !important;
        zoom: 1; }
        /* line 995, ../sass/her.sass */
        .container_wrapper .container .post .share_container > li {
          width: 16px;
          height: 16px;
          float: left;
          margin-right: 10px;
          display: inline-block; }
          /* line 1002, ../sass/her.sass */
          .container_wrapper .container .post .share_container > li.slider-btn {
            cursor: pointer;
            background-image: url(http://static.tumblr.com/kn2uvjq/hTkmtp3n6/sharer.png);
            background-repeat: no-repeat;
            background-position: 0px 0px; }
          /* line 1011, ../sass/her.sass */
          .container_wrapper .container .post .share_container > li a.permalink-btn {
            cursor: pointer;
            background-image: url(http://static.tumblr.com/kn2uvjq/Mrrmu3w95/plus_b.png);
            background-repeat: no-repeat;
            background-position: 1px 1px;
            display: inline-block;
            width: 16px;
            height: 16px; }
        /* line 20, ../sass/her.sass */
        .container_wrapper .container .post .share_container .expandable {
          position: relative;
          width: 0px;
          overflow: hidden;
          padding: 0px;
          margin-right: 0px !important; }
          /* line 27, ../sass/her.sass */
          .container_wrapper .container .post .share_container .expandable.open {
            width: 150px; }
          /* line 30, ../sass/her.sass */
          .container_wrapper .container .post .share_container .expandable .slider {
            position: relative;
            top: 0px;
            left: 0px;
            width: 150px;
            overflow: hidden; }
            /* line 37, ../sass/her.sass */
            .container_wrapper .container .post .share_container .expandable .slider > li {
              display: inline-block;
              float: none;
              height: 20px;
              overflow: hidden;
              max-width: 80px; }
        /* line 1029, ../sass/her.sass */
        .container_wrapper .container .post .share_container .expandable .slider > li div {
          display: inline-block; }
        /* line 1032, ../sass/her.sass */
        .container_wrapper .container .post .share_container .expandable .slider > li a {
          display: inline-block;
          background-image: url(http://static.tumblr.com/kn2uvjq/EAAmtpbqy/sprite-ui.png);
          background-repeat: no-repeat;
          width: 16px;
          height: 16px;
          margin-right: 10px; }
          /* line 1041, ../sass/her.sass */
          .container_wrapper .container .post .share_container .expandable .slider > li a.icon-fb {
            background-position: 0px -26px; }
          /* line 1043, ../sass/her.sass */
          .container_wrapper .container .post .share_container .expandable .slider > li a.icon-tw {
            background-position: -17px -26px; }
          /* line 1045, ../sass/her.sass */
          .container_wrapper .container .post .share_container .expandable .slider > li a.icon-pin {
            background-position: -33px -26px; }
          /* line 1047, ../sass/her.sass */
          .container_wrapper .container .post .share_container .expandable .slider > li a.icon-goo {
            background-position: -50px -26px; }

/* line 1052, ../sass/her.sass */
html.touch body {
  -webkit-overflow-scrolling: none; }
/* line 1055, ../sass/her.sass */
html.touch .masthead {
  height: 0px !important; }
/* line 1058, ../sass/her.sass */
html.touch .container_wrapper {
  padding-top: 171px; }
  /* line 1061, ../sass/her.sass */
  html.touch .container_wrapper section {
    top: 5%;
    left: 15px; }
  /* line 1066, ../sass/her.sass */
  html.touch .container_wrapper .text {
    font-size: 10px; }

/* line 1071, ../sass/her.sass */
html.special .container_wrapper {
  padding-top: 171px; }

/* line 1076, ../sass/her.sass */
html.detail .container_wrapper {
  padding-top: 171px; }
  /* line 1082, ../sass/her.sass */
  html.detail .container_wrapper .container .post {
    text-align: left;
    float: none;
    width: 800px;
    margin: auto;
    font-family: LatoBold; }
    /* line 1089, ../sass/her.sass */
    html.detail .container_wrapper .container .post .caption {
      letter-spacing: 1px;
      font-size: 16px;
      color: #de0029;
      padding: 15px 30px 5px; }
    /* line 1096, ../sass/her.sass */
    html.detail .container_wrapper .container .post .tags {
      padding: 15px 0px;
      font-size: 11px;
      font-weight: 400;
      color: #818181;
      line-height: 140% !important;
      margin-bottom: 15px; }
      /* line 1104, ../sass/her.sass */
      html.detail .container_wrapper .container .post .tags a {
        font-size: 10px;
        color: #939393;
        display: inline-block;
        padding: 5px 2px; }
      /* line 1110, ../sass/her.sass */
      html.detail .container_wrapper .container .post .tags a:hover {
        color: #939393 !important; }
      /* line 1113, ../sass/her.sass */
      html.detail .container_wrapper .container .post .tags a:before {
        content: "" !important; }
      /* line 1116, ../sass/her.sass */
      html.detail .container_wrapper .container .post .tags a:first-child:before {
        content: "" !important; }
      /* line 1119, ../sass/her.sass */
      html.detail .container_wrapper .container .post .tags .label {
        float: left;
        margin-right: 10px; }
      /* line 1123, ../sass/her.sass */
      html.detail .container_wrapper .container .post .tags .tag-container {
        float: left;
        width: 90%; }
        /* line 1127, ../sass/her.sass */
        html.detail .container_wrapper .container .post .tags .tag-container a {
          color: #de0029 !important;
          font-size: 11px !important;
          text-decoration: none;
          padding: 0px !important;
          -webkit-transition: all 0.14s ease-in-out;
          -moz-transition: all 0.14s ease-in-out;
          -o-transition: all 0.14s ease-in-out;
          transition: all 0.14s ease-in-out; }
    /* line 1142, ../sass/her.sass */
    html.detail .container_wrapper .container .post .commentBox {
      display: inline-block;
      width: 100%;
      background: white;
      box-sizing: border-box; }
      /* line 1152, ../sass/her.sass */
      html.detail .container_wrapper .container .post .commentBox .notes .note {
        margin-bottom: 10px; }
        /* line 1155, ../sass/her.sass */
        html.detail .container_wrapper .container .post .commentBox .notes .note .action {
          position: relative;
          top: -27px;
          left: 10px;
          color: #939393;
          font-size: 12px;
          letter-spacing: 1px; }
          /* line 1163, ../sass/her.sass */
          html.detail .container_wrapper .container .post .commentBox .notes .note .action a {
            color: #de0029; }
        /* line 1166, ../sass/her.sass */
        html.detail .container_wrapper .container .post .commentBox .notes .note blockquote {
          position: relative;
          left: 75px;
          color: #939393;
          font-size: 12px;
          letter-spacing: 1px; }
          /* line 1174, ../sass/her.sass */
          html.detail .container_wrapper .container .post .commentBox .notes .note blockquote a {
            color: #de0029;
            display: block;
            width: 600px; }
        /* line 1179, ../sass/her.sass */
        html.detail .container_wrapper .container .post .commentBox .notes .note .more_notes_link, html.detail .container_wrapper .container .post .commentBox .notes .note .notes_loading {
          color: #de0029; }
  /* line 1182, ../sass/her.sass */
  html.detail .container_wrapper .moreposts {
    display: none; }

/* line 1187, ../sass/her.sass */
iframe#tumblr_controls {
  position: fixed !important;
  opacity: 0; }
  /* line 1192, ../sass/her.sass */
  iframe#tumblr_controls.on {
    opacity: 1; }
  /* line 1194, ../sass/her.sass */
  iframe#tumblr_controls.tumblr_sticky_iframe {
    top: 73px !important; }
