html,body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;

}
	.nav {
		position: fixed;
		width: 100%;
		top: 0px;
		left: 0px;
		z-index: 100;
		background-color: red; 
	}
	.masthead {
		position: relative;
		top: 0px;
		width: 100%;
		height: 100%;
		background-color: #ff0000;
		color: #ffffff;
		overflow: hidden;
	}
		video {
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.off_screen {
			position: absolute !important;
			top: -9999px !important;
			left: -9999px !important;
		}

	.container {
		position: relative;
		top: 0px;
		background-color: #efefef;
		background-image: url(assets/images/blog_bg.png);
		background-size: cover;
		height: auto;
		overflow: auto;
		padding: 20px;
		margin-bottom: 50px;
	}
	.container_loading {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
		article {
			float: left;
			width: 300px;
			margin-right: 10px;
			margin-bottom: 10px;
			padding: 20px;
			background: rgba(255,255,255, 0.2);
		}
			article .post-hover {
				display: none;
			}
			article .postInner {
				width: 100%;
			}
				article .postInner iframe {
					width: 100%;
				}
				article .postInner a {
					width: 100%;
				}
					article .postInner a img {
						width: 100%;
					}